/* .elephant p {
    color: red;
} */

/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 23px;
} */

/* .greeting span {
    font-family: 'Roboto Mono', monospace;
} */

/* .item-wrapper > .item-description p {
    font-size: 30px;
} */

/* .link-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .parent > .first-child-element span {
    width: 100px;
    background-color: green;
    transition: 0.7s;
}

.parent > .first-child-element span:hover {
    color: white;
} */

/* .sidebar-wrapper {
    text-align: right;
}

.sidebar-wrapper > .header {
    font-size: 18px;
}

.sidebar-wrapper > .subtext {
    color: #0597e6;
    font-size: 14px;
} */

/* .description {
    color: lightgrey;
    font-size: 12px;
}

.item-2 > .description {
    font-size: 14px;
    color: lightblue;
} */

/* #product-header {
    background-image: url(../assets/images/puppies.png);
    padding: 430px;
    height: 375px;
    background-position: center;
    background-repeat: no-repeat;
} */

/* .product-info > .main-header {
    padding: 7px 32px;
    background-color: #fa42c3;
    width: 125px;
}

.product-info > .sub-header {
    padding: 4px 15px;
    background-color: #7c75c7;
    color: white;
} */

/* .card-container {
    width: 1100px;
    background-color: #000000;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
    justify-content: space-between;
} */

/* .parent > .social-link-ideas > .idea {
    color: green;
    background-color: #42cffa;
    letter-spacing: 3px;
} */

/* .box-header {
    box-shadow: 0px 0px 33px -4px rgba(143,143,143,1);
} */


/* #some-stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .brand-info a {
    text-transform: uppercase;
}

.brand-info > .brand-name span {
    font-size: 17px;
    letter-spacing: 4px;
} */

/* .my-img-box {
    position: absolute;
    top: 0;
    right: 0;
    transform: skewY(-3deg);
} */

/* .container {
    margin: 10px 23px 34px 0px;
    border: 2px solid #cea135;
} */

/* .about-page-spacer {
    width: 800px;
    height: 45px;
} */

/* .bagel {
    float: left;
    color: red;
} */

/* #info-container {
    display: flex;
    justify-content: space-evenly;
}
#info-container > .info-card {
    border-left: solid black 10px;
} */

/* input {
    display: block;
    padding: 10px 15px;
} */

/* .parent > .container > input {
    outline: none;
    border: 2px solid blue;
} */

/* input {
    color: pink;
    font-size: 15px;
} */

/* span {
    visibility: hidden;
    opacity: 0;
} */

/* .card {
    letter-spacing: 2px;
    color: gray;
} */

/* #contact-us-card {
    justify-content: space-around;
    margin: 0px 23px;
    position: fixed;
} */

/* .theDiv {
    width: 125px;
    opacity: 0.5;
} */

/* .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 300px;
} */